.DS_Store
.ansible
.editorconfig
.vagrant
ansible.cfg
node_modules

# wordpress
/wordpress/*
!/wordpress/wp-content

# wp-content
/wordpress/wp-content/*
!/wordpress/wp-content/plugins
!/wordpress/wp-content/themes
!/wordpress/wp-content/uploads

# themes
/wordpress/wp-content/themes/twentyfifteen
/wordpress/wp-content/themes/twentysixteen
/wordpress/wp-content/themes/twentyseventeen